<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Mis Bicicletas
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon class="notification-icon" [routerLink]="['/notifications']" src="assets/icon/bell.svg"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section class="my-bikes">

    <div class="card-button" (click)="goToBikeDetail(bike.id)" *ngFor="let bike of bikes">
      <div class="single-bike-grid">
        <div class="img" [style.background-image]="'url(' + bike.img + ')'" ></div>
        <div class="data">
          <h4>{{bike.model}}</h4>
          <p>
              {{bike.brand}}<br>
              {{bike.year}}
          </p>
        </div>
      </div>
    </div>


  </section>

</ion-content>

<ion-footer>
  <ion-button mode="ios" color="km" expand="block" (click)="addBike()">Agregar Bicicleta</ion-button>
</ion-footer>
