<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Detalle Reserva
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon class="notification-icon has" [routerLink]="['/notifications']" src="assets/icon/bell.svg"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-status-process class="status-4"></app-status-process>

  <section class="status-card">
    <div class="card-info status">
      <h4>Lista para Retiro</h4>
      <p>
        Tu bicicleta está lista para ser retirada. Puedes venir a buscarla a nuestra sucursal.
      </p>

      <p class="add-info">
        Quién entrega: Raul Berrios
      </p>
    </div>
  </section>

  <div class="separator"></div>

  <section class="summary">
    <h1 class="title-section">Resumen de Servicios</h1>
    <div class="ticket">
      <h4>SPECIALIZED Allez Sprint</h4>
      <div class="services-wrapper">
          <div class="services">
              <div class="service-detail">
                <p>Mantención Full</p>
                <p>$22.990</p>
              </div>
              <div class="service-detail">
                <p>Pinchao'</p>
                <p>$1.990</p>
              </div>
              <div class="service-detail">
                <p>Doble Mantención Full</p>
                <p>$23.990</p>
              </div>
              <div class="service-detail">
                <p>Rueda MARCA</p>
                <p>$30.990</p>
              </div>
              <div class="service-detail">
                <p>Descuento por Reserva</p>
                <p>-$2.990</p>
              </div>
              <div class="total-detail">
                <div class="service-detail big">
                  <p>
                    <b>TOTAL</b>
                  </p>
                  <p>
                    <b>$44.990</b>
                  </p>
                </div>
              </div>
          </div>
          </div>
    </div>
  </section>

</ion-content>

<ion-footer>
  <ion-button expand="block" (click)="goToChat()">Hablar con la Sucursal</ion-button>
</ion-footer>
