<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button ></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Mi Perfil
      </ion-title>
      <ion-buttons slot="end">
        <ion-icon class="notification-icon" [routerLink]="['/notifications']" src="assets/icon/bell.svg" [ngClass]="{'has': hasNotifications}"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="only-events">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Arrastra para actualizar"
          refreshingSpinner="circles">
        </ion-refresher-content>

      </ion-refresher>

  <section class="profile">

    <div class="profile-header">
      <div class="img-container">
          <!-- <div class="avatar" style="background-image: url('assets/img/avatar-default-2.jpg')"></div> -->
        <img [src]="profile?.avatar" (click)="takePicture()">
      </div>
      <img src="assets/icon/edit.svg" class="icon-edit" alt="Cambiar Foto">
      <!-- <div class="img" (click)="takePicture()" [ngStyle]="{'background-image': 'url(' + 'assets/img/avatar-default.jpg' + ')'}"></div> -->
      <!-- <div class="img" (click)="takePicture()" [ngStyle]="{'background-image': 'url(' + photo + ')'}"></div> -->
      <h4>{{profile?.fullName}}</h4>
      <p>{{profile?.city}}, Chile</p>
      <ion-button mode="ios" color="km" size="small" class="botoncito" (click)="editProfileModal()">Editar</ion-button>
    </div>

    <!-- <img [src]="photo"> -->

    <div class="dates profile-card">
      <div class="card-info info">
        <div class="profile-card-grid">
          <div class="col-6">
            <h6>RUT</h6>
            <p>17.441.996-6</p>
          </div>
          <div class="col-6">
            <h6>Teléfono</h6>
            <p>{{profile.phone}}</p>
          </div>
          <div class="col-6">
            <h6>Email</h6>
            <p>{{profile.email}}</p>
          </div>
          <div class="col-6">
              <h6>Fecha nacimiento</h6>
              <p>{{profile.birthday}}</p>
          </div>
          <div class="col-6">
              <h6>Dirección</h6>
              <p>{{profile.address}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="separator"></div>

    <div class="profile-menu">
      <div class="item item-bicicletas" (click)="goToMyBikes()">
        <img class="menu-icon" src="assets/icon/process/1-bike.svg">
        <p>Mis Bicicletas</p>
        <img class="arrow" src="assets/icon/icon-arrow.svg">
      </div>
      <div class="item item-servicios " (click)="goToMyServices()">
        <img class="menu-icon" src="assets/icon/process/2-service.svg">
        <p>Historial de Servicios</p>
        <img class="arrow" src="assets/icon/icon-arrow.svg">
      </div>
    </div>

  </section>

</ion-content>
<ion-footer>
  <ion-button mode="ios" color="km" expand="block" (click)="logout()">Cerrar Sesión</ion-button>
</ion-footer>
