<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Mi Perfil
      </ion-title>
      <ion-buttons slot="end">
        <ion-icon class="notification-icon" [routerLink]="['/notifications']" src="assets/icon/bell.svg"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="only-events">

  <section class="profile">

    <div class="profile-header">
      <div class="img" (click)="takePicture()" style="background-image: url('{{photo}}')"></div>
      <h4>{{profile.fullName}}</h4>
      <p>{{profile.city}}, Chile</p>
    </div>

    <div class="dates profile-card">
      <div class="card-info info">
        <div class="profile-card-grid">
          <div class="col-6">
            <h6>RUT</h6>
            <p>17.441.996-6</p>
          </div>
          <div class="col-6">
            <h6>Teléfono</h6>
            <p>{{profile.phone}}</p>
          </div>
          <div class="col-12">
            <h6>Email</h6>
            <p>{{profile.email}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="separator"></div>

    <div class="profile-menu">
      <div class="item item-bicicletas" (click)="goToMyBikes()">
        <img class="menu-icon" src="assets/icon/process/1-bike.svg">
        <p>Mis Bicicletas</p>
        <img class="arrow" src="assets/icon/icon-arrow.svg">
      </div>
      <div class="item item-servicios disabled" (click)="goToMyServices()">
        <img class="menu-icon" src="assets/icon/process/2-service.svg">
        <p>Historial de Servicios</p>
        <img class="arrow" src="assets/icon/icon-arrow.svg">
      </div>
    </div>

  </section>

</ion-content>
<ion-footer>
  <ion-button expand="block" (click)="logout()">Cerrar Sesión</ion-button>
</ion-footer>
