<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Nueva Reserva
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon class="notification-icon" [routerLink]="['/notifications']" src="assets/icon/bell.svg"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-booking-process class="process-4"></app-booking-process>

  <section class="summary">
    <h1 class="title-section">Resumen de Servicios</h1>
    <div class="ticket">
      <h4>{{bike?.brand}} {{bike?.model}}</h4>
      <div class="services-wrapper">
          <div class="services">
              <div class="service-detail" *ngFor="let service of services">
                <p>
                    {{service.name}}
                </p>
                <p>
                    {{service.value}}
                </p>
              </div>
              <div class="total-detail">
                  <div class="service-detail" *ngIf="discount > 0 ">
                      <p>
                          <b>DESCUENTO {{discount}}%</b>
                      </p>
                      <p>
                        <b>-{{discountValue}}</b>
                      </p>
                  </div>
                  <div class="service-detail">
                      <p>
                        <b>TOTAL</b>
                      </p>
                      <p>
                        <b>{{total - discountValue}}</b>
                      </p>
                    </div>
                    <div class="service-detail big highlighten-price" (click)="infoPriceModal()">
                      <p>
                        <b>PAGO POR RESERVA </b>
                        <ion-badge>i</ion-badge>
                      </p>
                      <p>
                        <b>{{(total - discountValue)*0.1}}</b>
                      </p>
                    </div>
              </div>
          </div>
          </div>
    </div>
  </section>

</ion-content>

<ion-footer>
  <ion-button mode="ios" color="km" expand="block" (click)="goToPay()">Pagar Reserva</ion-button>
</ion-footer>
