<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Conversación
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon class="notification-icon" [routerLink]="['/notifications']" src="assets/icon/bell.svg"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #content>

  <section class="order-info">
    <div class="card-info order-info" (click)="goToOrder()">
      <h3>{{order?.rels.bike.brand}} {{order?.rels.bike.model}}</h3>
      <p class="detail">Orden Nº {{order?.id}}</p>
      <div class="status">
        <p>{{order?.status.name}}</p>
      </div>
    </div>
  </section>

  <section class="conversation">

      <div class="balloon" *ngFor="let message of messages">
        <!-- <div> -->
          <p [ngClass]="{'balloon-inner': true,'sucursal-message': message.from == 1,'user-message': message.from == 2}">
            {{message.content}}
            <span class="date">
              {{message.date}}<br>
              {{message.time}}
            </span>
          </p>
        <!-- </div> -->
      </div>

  </section>

</ion-content>

<ion-footer class="chat-footer">
  <ion-input placeholder="Escribe tu Mensaje" [(ngModel)] ="text" ></ion-input>
  <ion-button mode="ios" color="km" (click)="sendMessage()">Enviar</ion-button>
</ion-footer>
