<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-menu-button></ion-menu-button> -->
    </ion-buttons>
    <ion-title>
      Agregar Bicicleta
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" class="no-background">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section class="add-bike modal-section">

    <h1 class="title-section">Ingresa tu Bicicleta</h1>

    <ion-item class="modal-item">
      <ion-label>Marca</ion-label>
      <ion-select mode="md" name="brand" okText="Ok" cancelText="Cancelar" (ionChange)="onBrandChange($event)">
        <ion-select-option value="true">SPECIALIZED</ion-select-option>
        <ion-select-option value="false">OTRA</ion-select-option>
      </ion-select>
    </ion-item>
    <!-- En el caso de Elegir otra marca -->
    <form  id="bikeForm" *ngIf="selOther"  [formGroup]="bikeForm" >
      <ion-item class="modal-item" >
        <ion-label >Ingresa la Marca</ion-label>
        <ion-input formControlName="brand" ></ion-input>
      </ion-item>
      <ion-item class="modal-item"  >
        <ion-label>Ingresa el Modelo</ion-label>
        <ion-input formControlName="model"></ion-input>
      </ion-item>
      <ion-item class="modal-item" >
        <ion-label>Ingresa el Año </ion-label>
        <ion-input  formControlName="year" type="number" ></ion-input>
      </ion-item>
      <ion-item class="modal-item">
        <ion-label>Tipo</ion-label>
        <ion-select mode="md" okText="Ok" cancelText="Cancelar" formControlName="type"  >
          <ion-select-option value="XC">XC</ion-select-option>
          <ion-select-option value="Trail">Trail</ion-select-option>
          <ion-select-option value="Enduro">Enduro</ion-select-option>
          <ion-select-option value="DH">DH</ion-select-option>
          <ion-select-option value="Ruta">Ruta</ion-select-option>
          <ion-select-option value="Tri/Contrareloj">Tri/Contrareloj</ion-select-option>
          <ion-select-option value="Turbo">Turbo</ion-select-option>
          <ion-select-option value="Urban">Urban</ion-select-option>
          <ion-select-option value="Multiuso">Multiuso</ion-select-option>
          <ion-select-option value="Niños">Niños</ion-select-option>
        </ion-select>
      </ion-item>
    </form>



  </section>

</ion-content>

<ion-footer *ngIf="selOther">
  <ion-button mode="ios" color="km" expand="block"  form="bikeForm"  type="submit" (click)="storeBike()"
  [disabled]="!bikeForm.valid" >Guardar Bicicleta</ion-button>
</ion-footer>
