<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-menu-button></ion-menu-button> -->
    </ion-buttons>
    <ion-title>
      Agregar Bicicleta
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" class="no-background">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section class="add-bike modal-section">

    <h1 class="title-section">Ingresa tu Bicicleta</h1>

    <ion-item class="modal-item">
      <ion-label>Marca</ion-label>
      <ion-select name="brand" okText="Ok" cancelText="Cancelar" (ionChange)="onBrandChange($event)">
        <ion-select-option value="true">SPECIALIZED</ion-select-option>
        <ion-select-option value="false">OTRA</ion-select-option>
      </ion-select>
    </ion-item>
    <!-- En el caso de Elegir otra marca -->
    <ion-item class="modal-item" *ngIf="selOther">
      <ion-label>Ingresa la Marca</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item class="modal-item" *ngIf="selOther">
      <ion-label>Ingresa el Modelo</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <!-- Solo en el caso de elegir specialized -->
    <ion-item class="modal-item" *ngIf="selSpecialized">
      <ion-label (click)="selectSpecialized()">Modelo</ion-label>
    </ion-item>

  </section>

</ion-content>

<ion-footer>
  <ion-button expand="block">Guardar Bicicleta</ion-button>
</ion-footer>
