<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Detalle Evento
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon class="notification-icon" [routerLink]="['/notifications']" src="assets/icon/bell.svg"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="no-padding">

  <section class="event-detail">
    <div class="event-detail-image" [style.backgroundImage]="'url('+ event.img +')'"></div>

    <div class="event-detail-info">
      <div class="header">
        <h4>{{event.name}}</h4>
        <p>{{event.description}}</p>
      </div>

      <div class="specs">
        <div class="item">
          <h6>Fecha</h6>
          <p>
            {{event.dateHuman}} {{event.timeHuman}}hrs
          </p>
        </div>
        <div class="item">
          <h6>Cupos</h6>
          <p>
            {{event.available}} Disponibles<br>
            {{event.quota - event.available}} Reservado
          </p>
        </div>
        <div class="item">
          <h6>Punto de Encuentro</h6>
          <p>
            {{event.startLocation}}
          </p>
        </div>
        <div class="item">
          <h6>Llegada</h6>
          <p>
            {{event.endLocation}}
          </p>
        </div>
      </div>

      <div class="separator"></div>

      <div class="assistants">
        <h1 class="title-section">Asistentes</h1>
        <div class="item" (click)="goToPublicProfile()" *ngFor="let user of users">
          <div class="img" style="background-image: url('assets/img/avatar-default.jpg')"></div>
          <div class="data">
            <h6>{{user?.fullName}}</h6>
            <p>Curicó, Chile</p>
          </div>
        </div>
      </div>

      <div class="separator" *ngIf="closed"></div>

      <div class="gallery" *ngIf="closed">
        <h1 class="title-section">Galería</h1>
        <div class="gallery-content">
          <div class="item"
          *ngFor="let image of images" [ngStyle]="{'background-image':'url('+image.url+')'}"
          (click)="openPreview(image.url)">
          </div>
          <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreImages($event)">
            <ion-infinite-scroll-content
              loadingSpinner="bubbles"
              loadingText="Cargando imagenes...">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </div>
      </div>
    </div>
  </section>

</ion-content>

<ion-footer *ngIf="!closed">
  <ion-button expand="block" *ngIf="!event?.rels.auth.reserved" (click)="attach()">Reservar mi Cupo</ion-button>
  <ion-button expand="block" *ngIf="event?.rels.auth.reserved" (click)="detach()">Ceder Cupo</ion-button>
</ion-footer>

<!--





















 -->
