<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Detalle Bicicleta
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon class="notification-icon" [routerLink]="['/notifications']" src="assets/icon/bell.svg"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="no-padding">

  <section class="bike-detail">

    <div class="header-image" [style.background-image]="'url(' + bike.img + ')'" ></div>

    <div class="bike-data">
      <h4>{{bike.model}}</h4>
      <p class="bike-brand">
        {{bike.brand}} <br>
        {{bike.year}}
      </p>

      <p class="description">
        {{bike.description}} 
      </p>

      <p *ngIf='bike.fromUs == 1'>
        Tu Mantencion completa vence el {{bike.endProm}} 
      </p>
    </div>

  </section>

</ion-content>

<ion-footer>
  <ion-button mode="ios" class="delete" expand="block" (click)= "presentAlert()">Borrar Bicicleta</ion-button>
</ion-footer>
