<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Nueva Reserva
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon class="notification-icon" [routerLink]="['/notifications']" src="assets/icon/bell.svg" [ngClass]="{'has': hasNotifications}"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-booking-process class="process-3"></app-booking-process>

    <section class="dates">
      <div class="card-info info">
        <p>
            Si llevas tu bicicleta el <span>{{ in | date }}   </span>, podrás retirarla el <span>{{ out | date }} </span>.
        </p>
      </div>
    </section>

    <div class="separator"></div>

    <section class="services-options">
      <h1 class="title-section">Opciones</h1>
      <!-- Retiro en Domicilio -->
      <div class="options home-option disabled">
        <div class="toggle-wrapper">
          <div class="the-toggle">
            <ion-toggle class="retiro-toggle" color="km" [(ngModel)]="retiro"></ion-toggle>
          </div>
          <h5>Retiro en Domicilio</h5>
        </div>
        <div class="actions-wrapper" *ngIf="retiro">
          <div class="card-info info">
            <p>
              <span>Retiro el Lunes 7 de Julio</span><br>
              Entre las 10:00 y las 11:00 hrs
            </p>
          </div>
        </div>
      </div>
      <!-- Codigo de Descuento -->
      <div class="options discount-option">
        <div class="toggle-wrapper">
          <div class="the-toggle">
            <ion-toggle class="codigo-toggle" color="km" [(ngModel)]="discount"></ion-toggle>
          </div>
          <h5>¿Código de Descuento?</h5>
        </div>
        <div class="actions-wrapper" *ngIf="discount">
          <div class="discount-action">
            <!-- <input type="text"> -->
            <ion-input  placeholder="Ingresa el código"></ion-input>
            <ion-button color="km" >Aplicar</ion-button>
          </div>
        </div>
      </div>
    </section>

</ion-content>

<ion-footer>
  <ion-button mode="ios" color="km" expand="block" (click)="goToSummary()">Listo</ion-button>
</ion-footer>
