<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Detalle Orden
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon class="notification-icon" [routerLink]="['/notifications']" src="assets/icon/bell.svg" [ngClass]="{'has': hasNotifications}"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Arrastra para actualizar"
        refreshingSpinner="circles">
      </ion-refresher-content>

    </ion-refresher>

  <app-status-process [class]="order?.status.class" *ngIf="order?.status.id != 9 "></app-status-process>

  <section class="status-card" *ngIf="order?.status.id == 1 ">
      <div class="card-info status">
        <h4>Esperando reserva</h4>
        <p>
          Estámos esperando tu pago para reservar los servicios. El monto se descontara del total de los servicios reservados.<br>
          Tu orden se eliminará en una semana si no se efectua el pago de la reserva.
        </p>
        <div class="flex-space-between">
          <h4 style="width: 70%">Pago por Reserva</h4>
          <h4 style="width: 30%; text-align: right">${{order.reserve}}</h4>
        </div>
        <!-- <p class="add-info">
          Quién entrega: Raul Berrios
        </p> -->
      </div>
    </section>

  <section class="status-card" *ngIf="order?.status.id == 2 ">
    <div class="card-info status">
      <h4>Esperando la Bicicleta</h4>
      <p>
        Estámos esperando tu bicicleta en nuestra sucursal.
      </p>
      <h4>Fecha límite de Entrega</h4>
      <p>
        Martes 8 de Julio - 10:00 hrs
      </p>
      <!-- <p class="add-info">
        Quién entrega: Raul Berrios
      </p> -->
    </div>
  </section>

  <section class="status-card" *ngIf="order?.status.id == 3 ">
    <div class="card-info status">
      <h4>En Diagnóstico</h4>
      <p>
        Estámos inspeccionando tu bicicleta para determinar entregarte una cotización final.
      </p>
    </div>
  </section>

  <section class="status-card" *ngIf="order?.status.id == 4 ">
    <div class="card-info status">
      <h4>Aceptar Diagnóstico</h4>
      <p>
        <!-- Hemos actualizado los servicios con los elementos que faltaban para que tu bicicleta quede en perfectas condiciones. -->
        Hemos actualizado el resumen de servicios. Puede que se hayan agregado más servicios/repuestos necesarios para que tu bicicleta quede en optimas condiciones.
      </p>
      <h4>Diagnóstico</h4>
      <p>
        {{order.diagnose}}
      </p>
    </div>
  </section>

  <section class="status-card" *ngIf="order?.status.id == 5 ">
      <div class="card-info status">
        <h4>En taller</h4>
        <p>
          Ingresaremos tu bici al taller para realizar los servicios contratados.<br>
          Tu bicicleta estará lista para retirar el {{order?.posibleReadyAt}}
        </p>
        <h4>Diagnóstico</h4>
        <p>
          {{order.diagnose}}
        </p>
      </div>
  </section>

  <section class="status-card" *ngIf="order?.status.id == 6 || order?.status.id == 7">
      <div class="card-info status">
          <h4>Lista para Retiro</h4>
          <p>
            Tu bicicleta está lista para ser retirada. Puedes venir a buscarla a nuestra sucursal.
          </p>
          <h4>Diagnóstico</h4>
          <p>
            {{order.diagnose}}
          </p>
      </div>
  </section>

  <section class="status-card" *ngIf="order?.status.id == 8 ">
      <div class="card-info status">
          <h4>Aprueba el trabajo</h4>
          <p>
            Si los arreglos han sido satisfactorios por favor apruebarlos para cerrar la orden.
            Gracias
          </p>
          <h4>Diagnóstico</h4>
          <p>
            {{order.diagnose}}
          </p>
      </div>
  </section>

  <section class="status-card" *ngIf="order?.status.id == 9 ">
      <div class="card-info status">
          <h4>Diagnóstico</h4>
          <p>
            {{order.diagnose}}
          </p>
      </div>
  </section>

  <div class="separator"></div>

  <section class="list-bike">
    <h1 class="title-section">Bicicleta</h1>
    <div class="the-bike">
      <div class="icon">
        <img src="/assets/icon/services/icon-bike.svg">
      </div>
      <div class="data">
        <h4>{{order?.rels.bike.model}}</h4>
        <p>{{order?.rels.bike.brand}}</p>
      </div>
    </div>
  </section>

  <div class="separator"></div>

  <section class="summary">
    <h1 class="title-section">Resumen</h1>
    <div class="ticket">

      <div class="services-wrapper">
        <div class="services">
            <h4 *ngIf="services">Servicios</h4>
            <div class="service-detail" *ngFor="let service of services">
              <p [ngClass]="{'highlighten-price': !service.rels.pivot.confirmed}" >{{service.name}}</p>
              <p [ngClass]="{'highlighten-price': !service.rels.pivot.confirmed}" >${{service.value}}</p>
            </div>
            <h4 *ngIf="spares != 0">Repuestos</h4>
            <div class="service-detail" *ngFor="let spare of spares">
              <p [ngClass]="{'highlighten-price': !spare.rels.pivot.confirmed}" >{{spare.name}}</p>
              <p [ngClass]="{'highlighten-price': !spare.rels.pivot.confirmed}" >${{spare.value}}</p>
            </div>
            <!-- <br> -->
            <!-- cambiar esto -->
            <div class="service-detail dscto">
              <p>Descuento por Reserva</p>
              <p>-{{order?.reserve}}</p>
            </div>
            <div class="total-detail">
              <div class="service-detail big">
                <p><b>TOTAL</b></p>
                <p><b>${{order?.amount - order?.reserve }}</b></p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>

</ion-content>

<ion-footer class="flex">
  <ion-button mode="ios" color="km" *ngIf="order?.status.id != 9 && order?.status.id != 4 && order?.status.id != 8 && order?.status.id != 1" expand="block" (click)="goToChat()">Hablar con la Sucursal</ion-button>
  <ng-template [ngIf]="order?.status.id == 1">
      <ion-button mode="ios" color="km" expand="block" (click)="payReserve()">Pagar Reserva</ion-button>
      <ion-button mode="ios" color="km" expand="block" (click)="delete()">Eliminar</ion-button>
    </ng-template>
  <ng-template [ngIf]="order?.status.id == 4">
    <ion-button mode="ios" color="km" expand="block" (click)="goToChat(order?.id)">
      <img src="/assets/icon/chat.svg">
    </ion-button>
    <ion-button mode="ios" color="km" expand="block" (click)="approveOrder()">Confirmar presupuesto</ion-button>
  </ng-template>
  <ng-template [ngIf]="order?.status.id == 8">
    <ion-button mode="ios" color="km" expand="block" (click)="goToChat(order?.id)">Hablar con la Sucursal</ion-button>
    <ion-button mode="ios" color="km" expand="block" (click)="review()">
      <img src="/assets/icon/check.svg">
    </ion-button>
  </ng-template>
</ion-footer>
