<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Detalle Orden
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon class="notification-icon" [routerLink]="['/notifications']" src="assets/icon/bell.svg"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Arrastra para actualizar"
        refreshingSpinner="circles">
      </ion-refresher-content>
  
    </ion-refresher>

  <app-status-process [class]="order?.status.class"></app-status-process>

  <section class="status-card" *ngIf="order?.status.id == 2 ">
    <div class="card-info status">
      <h4>Esperando la Bicicleta</h4>
      <p>
        Estámos esperando tu bicicleta en nuestra sucursal.
      </p>
      <h4>Fecha límite de Entrega</h4>
      <p>
        Martes 8 de Julio - 10:00 hrs
      </p>
      <p class="add-info">
        Quién entrega: Raul Berrios
      </p>
    </div>
  </section>

  <section class="status-card" *ngIf="order?.status.id == 3 ">
    <div class="card-info status">
      <h4>En Diagnóstico</h4>
      <p>
        Estámos inspeccionando tu bicicleta para determinar entregarte una cotización final.
      </p>
    </div>
  </section>

  <section class="status-card" *ngIf="order?.status.id == 4 ">
    <div class="card-info status">
      <h4>Aceptar Diagnóstico</h4>
      <p>
        Hemos actualizado los servicios con los elementos que faltaban para que tu bicicleta quede en perfectas condiciones.
      </p>
      <h4>Diagnóstico</h4>
      <p>
        {{order.diagnose}}
      </p>
    </div>
  </section>

  <section class="status-card" *ngIf="order?.status.id == 5 ">
      <div class="card-info status">
        <h4>Esperando taller</h4>
        <p>
          Tu orden se esta preparando para ingresar al taller.
          Podria estar lista para el {{order?.posibleReadyAt}}
        </p>
        <h4>Diagnóstico</h4>
        <p>
          {{order.diagnose}}
        </p>
      </div>
  </section>

  <section class="status-card" *ngIf="order?.status.id == 6 || order?.status.id == 7">
      <div class="card-info status">
          <h4>Lista para Retiro</h4>
          <p>
            Tu bicicleta está lista para ser retirada. Puedes venir a buscarla a nuestra sucursal.
          </p>
          <h4>Diagnóstico</h4>
          <p>
            {{order.diagnose}}
          </p>
      </div>
  </section>

  <section class="status-card" *ngIf="order?.status.id == 8 ">
      <div class="card-info status">
          <h4>Aprueba el trabajo</h4>
          <p>
            Si los arreglos han sido satisfactorios por favor apruebarlos para cerrar la orden.
            Gracias
          </p>
          <h4>Diagnóstico</h4>
          <p>
            {{order.diagnose}}
          </p>
      </div>
  </section>

  <section class="status-card" *ngIf="order?.status.id == 9 ">
      <div class="card-info status">
          <h4>Diagnóstico</h4>
          <p>
            {{order.diagnose}}
          </p>
      </div>
  </section>

  <div class="separator"></div>

  <section class="summary">
    <h1 class="title-section">Resumen</h1>
    <div class="ticket">
      <h4>{{order?.rels.bike.brand}} {{order?.rels.bike.model}}</h4>
      
      <div class="services-wrapper">
          <div class="services">
              <h4>Servicios</h4>
              <div class="service-detail" *ngFor="let service of services">
                <p [ngClass]="{'highlighten-price': !service.rels.pivot.confirmed}" >{{service.name}}</p>
                <p [ngClass]="{'highlighten-price': !service.rels.pivot.confirmed}" >${{service.value}}</p>
              </div>
              <h4>Repuestos</h4>
              <div class="service-detail" *ngFor="let spare of spares">
                <p [ngClass]="{'highlighten-price': !spare.rels.pivot.confirmed}" >{{spare.name}}</p>
                <p [ngClass]="{'highlighten-price': !spare.rels.pivot.confirmed}" >${{spare.value}}</p>
              </div>
              <br>
              <!-- cambiar esto -->
              <div class="service-detail">
                <p>Descuento por Reserva</p>
                <p>-{{order?.reserve}}</p>
              </div>
              <div class="total-detail">
                <div class="service-detail big">
                  <p><b>TOTAL</b></p>
                  <p><b>${{order?.amount - order?.reserve }}</b></p>
                </div>
              </div>
          </div>
      </div>
    </div>
  </section>

</ion-content>

<ion-footer>
  <ion-button expand="block" (click)="goToChat()">Hablar con la Sucursal</ion-button>
  <ion-button *ngIf="order?.status.id == 4 " expand="block" (click)="approveOrder()"> Confirmar presupuesto</ion-button>
  <ion-button *ngIf="order?.status.id == 8 " expand="block" (click)="review()"> Aprobar arreglos</ion-button>
</ion-footer>
