<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-menu-button></ion-menu-button> -->
    </ion-buttons>
    <ion-title>
      Agregar Bicicleta
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" class="no-background">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section class="add-bike modal-section">

    <h1 class="title-section">Selecciona un Modelo</h1>

    <ion-input name="param" (input)="onSearchChange($event.target.value)"></ion-input>

    <div class="card-button border-button" *ngFor="let bike of spFiltered; let i = index" (click)="check(i,bike.id)" [class.selected]="hightlightStatus[i]">
      <div class="bike-item">
        <div class="img" [ngStyle]="{'background-image': 'url(/assets/img/bike-example.jpg)'}"></div>
        <div class="data">
          <h4>{{bike.model}}</h4>
          <p>{{bike.year}}</p>
        </div>
      </div>
    </div>

  </section>

</ion-content>

<ion-footer>
  <ion-button expand="block" (click)="addBike()">Guardar Bicicleta</ion-button>

</ion-footer>
