<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>

        <section class="split-content">

          <ion-menu-toggle class="the-menu" auto-hide="false" *ngFor="let p of appPages">
            <div class="item" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon" color="vibrant"></ion-icon>
              <p>
                {{p.title}}
              </p>
            </div>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <div class="bottom-split" (click)="goToProfile()">
              <div class="avatar" style="background-image: url('assets/img/avatar-default-2.jpg')"></div>
              <div class="data">
                <h6>{{profile.fullName}}</h6>
                <p>{{profile.city}}, Chile</p>
              </div>
            </div>
          </ion-menu-toggle>

        </section>

      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
