<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Mensaje
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section class="special-message">

    <h4>
      In gravida vestibulum erat vel ultricies massa
    </h4>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id arcu sit amet leo gravida scelerisque. <br>
      Quisque at euismod sapien, nec congue quam. In at blandit velit. Mauris tincidunt mi ipsum, id aliquet lacus commodo nec. Aliquam ultrices non arcu at rutrum. Aenean eget lobortis magna.
    </p>

  </section>

</ion-content>
