<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Nueva Reserva
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon class="notification-icon" [routerLink]="['/notifications']" src="assets/icon/bell.svg"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-booking-process class="process-2"></app-booking-process>

  <section class="service-select">
    <h1 class="title-section">Elige uno o más Servicios</h1>

    <div class="card-button border-button" *ngFor="let service of services; let i = index"
      [attr.data-selected]="false"
      (click)="hightlightStatus[i]=!hightlightStatus[i]"
      [class.selected]="hightlightStatus[i]" [attr.data-id]="service.id" [attr.data-name]="service.name"  [attr.data-value]="service.value">
      <div class="service-item">
        <div class="icon">
          <img src="/assets/icon/services/icon-bike.svg">
        </div>
        <div class="data">
          <h4>{{service.name}}</h4>
          <!-- <p>
            {{service.description}}
          </p> -->
          <h4>${{service.value}}</h4>
        </div>
      </div>
    </div>

  </section>

</ion-content>

<ion-footer>
  <ion-button expand="block" (click)="goToDate()">Listo</ion-button>
</ion-footer>

  <!--













   -->
