
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Pagar Reserva
    </ion-title>
    <!-- <ion-buttons slot="end">
      <ion-icon class="notification-icon" [routerLink]="['/notifications']" src="assets/icon/bell.svg"></ion-icon>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div slot="fixed">
      <ion-spinner *ngIf="loading"></ion-spinner>
      <div id="webview" #webview></div>
  </div>
</ion-content>
