<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="Atrás"></ion-back-button>
      </ion-buttons>
      <ion-title>
        Perfil
      </ion-title>
      <ion-buttons slot="end">
        <ion-icon class="notification-icon" [routerLink]="['/notifications']" src="assets/icon/bell.svg"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>

  <section class="profile">
    <div class="profile-header no-pd-b">
      <div class="img-container">
        <!-- <div class="avatar" style="background-image: url('assets/img/avatar-default-2.jpg')"></div> -->
        <img [src]="profile?.avatar" >
      </div>
      <h4>{{profile.fullName}}</h4>
      <p>
        {{profile.city}}, Chile<br>
      </p>
    </div>

    <div class="separator"></div>

   </section>
   <section class="past-events">
      <h1 class="title-section">Eventos Asistidos</h1>

      <div class="card-calendar" *ngFor="let event of events" (click)="goEvent(event.id)">
        <div class="calendar-grid">
          <div class="date">
            <div class="day">
              <h2>{{event.day}}</h2>
            </div>
            <div class="month month-past">
              <h6>{{event.month}}</h6>
            </div>
          </div>
          <div class="data">
            <h3>{{event.name}}</h3>
            <p class="detail">
                {{event.startLocation}}<br>
                {{event.quota - event.available}} asistentes
            </p>
          </div>
        </div>
      </div>

    </section>
    
 

</ion-content>
