<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Eventos
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon class="notification-icon has" [routerLink]="['/notifications']" src="assets/icon/bell.svg"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section class="next-events" >
    <h1 class="title-section">Próximos Eventos</h1>
    <div class="card-feature" (click)="goToEvent(event.id)" *ngFor="let event of nextEvents">
      <div class="img" [style.backgroundImage]="'url('+ event.img +')'"></div>
      <div class="data">
        <div class="calendar">
          <div class="day">
            <h2>12</h2>
          </div>
          <div class="month">
            <h6>Jul</h6>
          </div>
        </div>
        <div class="info-event">
          <h3>{{event.name}}</h3>
          <p class="detail">
            {{event.startLocation}} <br>
              {{event.available}} Disponibles
          </p>
        </div>
      </div>
      <!-- @if esta reservado -->
      <div class="reserved" *ngIf="event.rels.auth.reserved" >
        <p>Evento Reservado</p>
      </div>
    </div>
  </section>

  <div class="separator"></div>

  <section class="past-events">
    <h1 class="title-section">Eventos Pasados</h1>

    <div class="card-calendar" (click)="goToEventDetail()">
      <div class="calendar-grid">
        <div class="date">
          <div class="day">
            <h2>12</h2>
          </div>
          <div class="month month-past">
            <h6>Jul</h6>
          </div>
        </div>
        <div class="data">
          <h3>Salida a las Buitreras</h3>
          <p class="detail">
              Potrero Grande Km. 8 <br>
              29 Disponibles
          </p>
        </div>
      </div>
      <!-- @if esta reservado -->
      <div class="reserved">
        <p>Evento Reservado</p>
      </div>
    </div>
    <div class="card-calendar" (click)="goToEventDetail()">
      <div class="calendar-grid">
        <div class="date">
          <div class="day">
            <h2>12</h2>
          </div>
          <div class="month month-past">
            <h6>Jul</h6>
          </div>
        </div>
        <div class="data">
          <h3>Salida a las Buitreras</h3>
          <p class="detail">
              Potrero Grande Km. 8 <br>
              29 Disponibles
          </p>
        </div>
      </div>
    </div>

  </section>

</ion-content>
