<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Eventos
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon class="notification-icon has" (click)="goToNotifications()" src="assets/icon/bell.svg"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section class="next-events">
    <h1 class="title-section">Próximos Eventos</h1>
    <div class="card-feature" (click)="goToEventDetail()">
      <div class="img" style="background-image: url('assets/img/event-default.jpg')"></div>
      <div class="data">
        <div class="calendar">
          <div class="day">
            <h2>12</h2>
          </div>
          <div class="month">
            <h6>Jul</h6>
          </div>
        </div>
        <div class="info-event">
          <h3>Salida a las Buitreras</h3>
          <p class="detail">
              Potrero Grande Km. 8 <br>
              29 Disponibles
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="separator"></div>

  <section class="past-events">
    <h1 class="title-section">Eventos Pasados</h1>

    <div class="card-button" (click)="goToEventDetail()">
      <div class="calendar-grid">
        <div class="date">
          <div class="day">
            <h2>12</h2>
          </div>
          <div class="month month-past">
            <h6>Jul</h6>
          </div>
        </div>
        <div class="data">
          <h3>Salida a las Buitreras</h3>
          <p class="detail">
              Potrero Grande Km. 8 <br>
              29 Disponibles
          </p>
        </div>
      </div>
      <img class="arrow" src="assets/icon/icon-arrow.svg">
    </div>
    <div class="card-button" (click)="goToEventDetail()">
      <div class="calendar-grid">
        <div class="date">
          <div class="day">
            <h2>12</h2>
          </div>
          <div class="month month-past">
            <h6>Jul</h6>
          </div>
        </div>
        <div class="data">
          <h3>Salida a las Buitreras</h3>
          <p class="detail">
              Potrero Grande Km. 8 <br>
              29 Disponibles
          </p>
        </div>
      </div>
      <img class="arrow" src="assets/icon/icon-arrow.svg">
    </div>

  </section>

</ion-content>
