<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Eventos
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon class="notification-icon" [routerLink]="['/notifications']" src="assets/icon/bell.svg" [ngClass]="{'has': hasNotifications}"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section class="next-events" >
    <h1 class="title-section">Próximos Eventos</h1>
    <div class="card-feature" (click)="goToEvent(event.id)" *ngFor="let event of nextEvents">
      <div class="img" [style.backgroundImage]="'url('+ event.img +')'"></div>
      <div class="data">
        <div class="calendar">
          <div class="day">
            <h2>{{event.day}} </h2>
          </div>
          <div class="month">
            <h6>{{event.month}}</h6>
          </div>
        </div>
        <div class="info-event">
          <h3>{{event.name}}</h3>
          <p class="detail">
            {{event.startLocation}} <br>
              {{event.available}} Disponibles
          </p>
        </div>
      </div>
      <!-- @if esta reservado -->
      <div class="reserved" *ngIf="event.rels.auth.reserved" >
        <p>Evento Reservado</p>
      </div>
    </div>
    <div class="card-info no-data" *ngIf="nextEvents==''">
        <img class="the-icon" src="assets/icon/icon-noevents.svg">
        <h4>No hay eventos Próximos por el momento</h4>
    </div>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreEvents($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Cargando eventos pasados...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </section>

  <div class="separator" *ngIf="pastEvents!=''"></div>

  <section class="past-events" *ngIf="pastEvents!=''">
    <h1 class="title-section">Eventos Pasados</h1>

    <div class="card-calendar" (click)="goToEvent(event.id)" *ngFor="let event of pastEvents">
      <div class="calendar-grid">
        <div class="date">
          <div class="day">
            <h2>{{event.day}}</h2>
          </div>
          <div class="month month-past">
            <h6>{{event.month}}</h6>
          </div>
        </div>
        <div class="data">
          <h3>{{event.name}}</h3>
          <p class="detail">
            {{event.startLocation}} <br>
            {{event.available}} Disponibles
          </p>
        </div>
      </div>
      <!-- @if esta reservado -->
      <div class="reserved" *ngIf="event.rels.auth.reserved" >
        <p>Evento Asistido</p>
      </div>
    </div>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMorePastEvents($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Cargando eventos pasados...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </section>
  

</ion-content>
