<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Detalle Servicio
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon class="notification-icon" [routerLink]="['/notifications']" src="assets/icon/bell.svg"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section class="my-service-detail">

    <section class="status-card">
      <div class="card-info status">
        <h4>SPECIALIZED Allez Sprint</h4>
        <p>
          Orden Nº 1240926
        </p>
        <p>
          <span>Finalizada el</span><br>
          Miércoles 9 de Julio de 2019
        </p>
        <div class="status">
          <p>Entregada</p>
        </div>
      </div>
    </section>

    <div class="separator"></div>

    <section class="summary">
      <h1 class="title-section">Resumen de Servicios</h1>
      <div class="ticket">
        <h4>SPECIALIZED Allez Sprint</h4>
        <div class="services-wrapper">
            <div class="services">
              <div class="service-detail">
                <p>Mantención Full</p>
                <p>$22.990</p>
              </div>
              <div class="service-detail">
                <p>Pinchao'</p>
                <p>$1.990</p>
              </div>
              <div class="service-detail">
                <p>Doble Mantención Full</p>
                <p>$23.990</p>
              </div>
              <div class="service-detail">
                <p>Rueda MARCA</p>
                <p>$30.990</p>
              </div>
              <div class="service-detail">
                <p>Descuento por Reserva</p>
                <p>-$2.990</p>
              </div>
                <div class="total-detail">
                  <div class="service-detail big">
                    <p>
                      <b>TOTAL</b>
                    </p>
                    <p>
                      <b>$75.980</b>
                    </p>
                  </div>
                </div>
            </div>
            </div>
      </div>
    </section>

  </section>

</ion-content>
